{% extends('@layout/error.layout.twig') %}
{% trans_default_domain "errors" %}
{% block content %}
    <h1>{{ 'layout.error_404.h1'|trans }}</h1>
    <h2>{{ 'layout.error_404.h2'|trans }}</h2>
{% endblock %}