<div class="row gy-0 short-form hide" data-short-url-target="shortcut">
    <div class="row gy-0">
        <div class="col-md-12">
            <h5><i class="bi bi-link-45deg"></i> Your Likelink</h5>
            <input type="text" class="form-control" data-short-url-target="resultLink" readonly="readonly">
        </div>
    </div>
    <div class="row gy-2">
        <div class="col-md-2">
            <div><button type="submit" class="bi bi-caret-left-fill" data-short-url-target="shortAnotherUrl"></button>
            </div>
        </div>
    </div>
</div>