<div class="row gy-0 short-form short hide" data-controller="short-url" data-short-url-form-target="shortUrl">
    <div class="col-md-12">
        <h5><i class="bi bi-link-45deg"></i> Your Likelink</h5>
        <input type="text" class="form-control" data-short-url-target="input" readonly="readonly">
    </div>
</div>